<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Enviar parámetros del request HTTP GET - URL</title>
	</head>
	<body>
		<h1>Enviar parámetros del request HTTP GET - URL</h1>
		<ul>
			<li>
				<a th:href="@{/params/string(texto='Angel Rodriguez')}">/params/string?texto=Angel Rodriguez</a>
			</li>
			<li>
				<a th:href="@{/params/string(texto='Que tal Emanuel')}">/params/string?texto=Que tal Emanuel</a>
			</li>
			<li>
				<a th:href="@{/params/mix-params(saludo='Cómo estás Angel', numero=7)}">/params/mix-params?saludo=Cómo estás Angel&numero=7</a>
			</li>
			<li>
				<a th:href="@{/params/mix-params-request(saludo='Cómo estás Angel', numero=7)}">/params/mix-params-request?saludo=Cómo estás Angel&numero=7</a>
			</li>
		</ul>
	</body>
</html>